.swd-sec1{
	padding-top:28px;
}
.swd-sec1-cntlr{
	text-align:center;
}
.swd-sec1 h6{
    font-family: 'latoblack';
}
.swd-sec1 p{
	font-size:26px;
    font-family: 'LatoBold';
}
/* =============================== */
.swd-sec2{
	background-color:#fcf5ee;
	text-align:center;
}
.swd-sec2-cntlr{
	padding-top:52px;
	padding-bottom: 160px;
}
.swd-sec2-cntlr h1{
    font-family: 'FiraSansExtraCondensed-Bold';
    line-height:1;
    margin-bottom:20px;
}
.swd-sec2-cntlr h6{
    font-family: 'LatoBold';
    margin-bottom: 40px;
}
.swd-sec2-cntlr h6 span{
	text-decoration:underline;
}


/* ================================= */

.swd-sec3-cntlr{
	background-color:#ffffff;
	padding-top:30px;
	margin-top:-141px;
	position: relative;
}
.swd-sec3-left,
.swd-sec3-right{
    width: 50%;
}
.swd-sec3-image{
	min-height:555px;
	background-repeat: no-repeat;
	}
.swd-sec3-left {
    position: absolute;
    right: 0;
    bottom: 28px;
}

/* ======================================*/
.swd-sec4{
	position:relative;
	padding-top: 38px;
}
.swd-sec4-image{
	min-height:786px;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}
.swd-sec4-left {
    width:100%;
}
.swd-sec4-right{
	width:76%;
	z-index: 1;
    position: relative;
}
.swd-sec4-cntlr {
    position: relative;
}

/* ================================*/
.swd-sec5-cntlr{
	background-color:#26527b;
	padding-top:25px;
	padding-bottom:13px;
	border: 5px solid #fff;
	position: relative;
}
.swd-sec5-cntlr h4 {
    text-align: center;
    color:#fff;
}
.swd-sec5-cntlr h4 span {
    font-size: 55px;
    background-image: url(assets/images/dw-img9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
}
.swe-sec-img {
    height: 40px;
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
    left: 0;
    bottom: -18px;
}






/*========================================*/

.swd-sec6{
	position: relative;
	padding-top:51px;
	padding-bottom: 23px;
}
.swd-sec6-image{
	bottom:initial;
	top:0;
	background-position: left bottom 126px;
}
.swd-sec6-right h5{
	line-height:1.33;
}

/*================================*/
.swd-sec7-image{
	right:0;
	left:initial;
	background-position: right bottom 45px;
	min-height:748px;
}
.swd-sec7 {
    overflow:hidden;
    background-image: url(assets/images/dw-img11.png);
}

/* ================================ */
.top-heading {
    text-align: center;
        margin-bottom: 50px;
}

.top-heading span {
    color: #fff;
    font-size: 30px;
    font-family: 'LatoBold';
    background-image: url(assets/images/dw-img5.png);
    vertical-align: baseline;
    padding: 20px;
    background-repeat: no-repeat;
    min-width: 720px;
    min-height: 240px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:1.53;
}
.swd-sec9 {
    background: url(assets/images/dw-img6.png);
    padding-bottom: 13px;
}
.swd-sec9-cntlr h4{
	text-align: center;
	margin-bottom: 97px;
}
.mny-bc-guarentee {
    background-color: #fff;
    text-align: center;
    padding-bottom: 38px;
    margin-bottom: 54px;
}
.mny-bc-guarentee-des {
    text-align: center;
}
.mny-bc-guarentee-inner img{
	margin-top: -52px;
	margin-bottom:20px;
}
.mny-bc-guarentee-inner h4 {
    margin-bottom: 41px;
}
.mny-bc-guarentee-des h2 span {
    display: inline-block;
    vertical-align: baseline;
    background-image: url(assets/images/dw-img8.png);
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'FiraSansExtraCondensed-Black';
}
.mny-bc-guarentee-des p span {
    background: #ffe401;
    font-family: 'LatoBold';
}