.swd-sec1{
	padding-top:28px;
}
.swd-sec1-cntlr{
	text-align:center;
}
.swd-sec1 h6{
    font-family: 'latoblack';
}
.swd-sec1 p{
	font-size:26px;
    font-family: 'LatoBold';
}
/* =============================== */
.swd-sec2{
	background-color:#fcf5ee;
	text-align:center;
}
.swd-sec2-cntlr{
	padding-top:52px;
	padding-bottom: 160px;
}
.swd-sec2-cntlr h1{
    font-family: 'FiraSansExtraCondensed-Bold';
    line-height:1;
    margin-bottom:20px;
}
.swd-sec2-cntlr h6{
    font-family: 'LatoBold';
    margin-bottom: 40px;
}
.swd-sec2-cntlr h6 span{
	text-decoration:underline;
}


/* ================================= */

.swd-sec3-cntlr{
	background-color:#ffffff;
	padding-top:30px;
	margin-top:-141px;
	position: relative;
}
.swd-sec3-left,
.swd-sec3-right{
    width: 50%;
}
.swd-sec3-image{
	min-height:555px;
	background-repeat: no-repeat;
	}
.swd-sec3-left {
    position: absolute;
    right: 0;
    bottom: 28px;
}

/* ======================================*/
.swd-sec4{
	position:relative;
	padding-top: 38px;
}
.swd-sec4-image{
	min-height:786px;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}
.swd-sec4-left {
    width:100%;
}
.swd-sec4-right{
	width:76%;
	z-index: 1;
    position: relative;
}
.swd-sec4-cntlr {
    position: relative;
}

/* ================================*/
.swd-sec5-cntlr{
	background-color:#26527b;
	padding-top:25px;
	padding-bottom:13px;
	border: 5px solid #fff;
	position: relative;
	margin-bottom: 48px;
}
.swd-sec5-cntlr h4 {
    text-align: center;
    color:#fff;
}
.swd-sec5-cntlr h4 span {
    font-size: 55px;
    background-image: url(assets/images/dw-img9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
}
.swe-sec-img {
    height: 40px;
    position: absolute;
    width: 100%;
    background-repeat: repeat-x;
    left: 0;
    bottom: -18px;
}






/*========================================*/

.swd-sec6{
	position: relative;
	padding-top:51px;
	padding-bottom: 23px;
}
.swd-sec6-image{
	bottom:initial;
	top:0;
	background-position: left bottom 126px;
}
.swd-sec6-right h5{
	line-height:1.33;
}

/*================================*/
.swd-sec7-image{
	right:0;
	left:initial;
	background-position: right bottom 45px;
	min-height:748px;
}
.swd-sec7 {
    overflow:hidden;
    background-image: url(assets/images/dw-img11.png);
}

/* ================================ */
.top-heading {
    text-align: center;
        margin-bottom: 50px;
}

.top-heading span {
    color: #fff;
    font-size: 30px;
    font-family: 'LatoBold';
    background-image: url(assets/images/dw-img5.png);
    vertical-align: baseline;
    padding: 20px;
    background-repeat: no-repeat;
    min-width: 720px;
    min-height: 240px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:1.53;
}
.swd-sec9 {
    background: url(assets/images/dw-img6.png);
    padding-bottom: 13px;
}
.swd-sec9-cntlr h4{
	text-align: center;
	margin-bottom: 97px;
}
.mny-bc-guarentee {
    background-color: #fff;
    text-align: center;
    padding-bottom: 38px;
    margin-bottom: 54px;
}
.mny-bc-guarentee-des {
    text-align: center;
}
.mny-bc-guarentee-inner img{
	margin-top: -52px;
	margin-bottom:20px;
}
.mny-bc-guarentee-inner h4 {
    margin-bottom: 41px;
}
.mny-bc-guarentee-des h2 span {
    display: inline-block;
    vertical-align: baseline;
    background-image: url(assets/images/dw-img8.png);
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'FiraSansExtraCondensed-Black';
}
.mny-bc-guarentee-des p span {
    background: #ffe401;
    font-family: 'LatoBold';
}




/* ==================================*/

.fl-pkg-section{
  padding-top: 13px;
}

.fl-pkg-sec-ftr-des{
    padding-top: 65px;
    text-align: left;
    padding-bottom: 24px;
}
.pkg-area-con-bg{
    padding: 0 0 40px;
}
.pkg-area-con-bg.pkg-area-con-bg-1{
    padding-top: 0;
}
.fl-pkg-sec-hdr{
    text-align: center;
    padding-bottom: 90px;
}
.fl-pkg-sec-hdr h2{
    margin-bottom: 20px;
    margin-top: 0;
    color: #000;
    font-size: 50px;
}
.fl-pkg-sec-hdr h2 span{
    display: inline-block;
    vertical-align: baseline;
}

.fl-pkg-sec-bg-hdr{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom 1px!important;
    border-radius: 8px 8px 0 0;
    margin-bottom: 85px;
    padding: 15px 20px 40px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.fl-pkg-sec-bg-hdr h2{
    margin-top: 0;
    color: #fff;
    text-align: center;   
    margin-bottom: 0;
    font-size: 50px;
    font-family: 'TitilliumWeb-Bold';
}
.fl-pkg-sec-bg-hdr h2 span{
    display: inline-block;
    vertical-align: baseline;
}
.pkg-area-con-bg-inner {
    background: #fff;
        padding-bottom: 55px;
}

.fl-pkg-grd-controller > ul > li{
    float: left;
    width: 50%;
    padding: 0 10px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #d50001;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.order2 .fl-pkg-grd-col-bdr-solid:before,
.order2 .fl-pkg-grd-col-bdr-solid:after{
    background: #c6dbd7;
    top: 10px;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    padding-bottom: 5px;
    position: relative;
}

.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-pkg-grd-col-btm-bdr{
    background: #0f86b6;
}

.fl-pkg-grd-col-hdr span,.fl-pkg-grd-col-hdr strong{
    display: block;
}
.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
    margin-bottom: 33px;
}
.discount-offer h1 {
    font-family: 'Barlow-ExtraBold';
}
.fl-pkg-grd-col-hdr span {
    font-size: 30px;
    line-height: 36px;
    font-family: 'BarlowCondensed-Bold';
    padding: 10px 10px 10px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 1px #00659a;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #b82121;
}
.order2 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 1px #2092cd;
}
.fl-pkg-grd-col-hdr strong {
    padding: 5px 10px 5px 10px;
    font-size: 28px;
    line-height: 45px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}
.fl-pkg-grd-col-fea-img{
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 15px 15px 35px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img span{
    position: absolute;
    right: 32px;
    top: 46px;
}
.order3 .fl-pkg-grd-col-fea-img span{
    right: 0;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 30px;
    right: 32px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-price{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
}
.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: -2px;
    top: -17px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}
.fl-pkg-price:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 63px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-pkg-price strong {
    font-size: 89px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
}

.fl-pkg-price sup {
    position: absolute;
    right: 16px;
    font-size: 43px;
    font-family: 'Barlow-Bold';
    top: -3px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: -5px;
    font-size: 35px;
    bottom: 9px;
    font-family: 'BarlowCondensed-Regular';
    color: #007ab5;
}
.fl-creditcards{
    padding-left: 8px;
    padding-top: 5px;
    text-align: center;
}
.fl-pkg-save-price {
    color: #fe0000;
    padding-top: 10px;
}
.fl-pkg-save-price strong {
    font-family: 'SourceSansPro-Bold';
    display: block;
    font-weight: normal;
    font-size: 25px;
}
.free-shipping{
	position:relative;
}
.free-shipping-logo {
    position: absolute;
    left: 23px;
    top: 0;
}
.fl-pkg-grd-ftr{
  padding-left: 10px;
  padding-right: 10px;
  display: table;
  margin: 0 auto;
  padding-top: 15px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 36px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    
    padding: 3px 0 33px 0px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
    text-align:center;
}
.fl-pkg-grd-ftr ul li span{
	position: relative;
	padding-left:35px;
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: -4px;
}
.discount-offer{
	text-align: center;
}

.pkg-area-con-bg-des {
    text-align: center;
    padding-top: 50px;
}
.pkg-area-con-bg-des span{
    display: block;
    font-family: 'LatoRegular';
    font-size: 30px;
}
.pkg-area-con-bg-des span:last-child{
    font-family: 'LatoBold';
}
.pkg-area-con-bg-des a{
	margin-bottom:36px;
}


/* ==================================== 8 */
.swd-sec8-cntlr{
	background-color: initial;
	border:none;
	margin-bottom:0;
}
.pkg-area-con-bg-none{
	background-color:initial;
}
.swd-sec8-cntlr h4{
	color:#234f6d;
}
.sw-sec8-cntlr {
    padding-bottom: 80px;
}.swd-sec9-cntlr{
    margin-top: -125px;
}

/* ============================ 10*/
.sw-sec10-cntlr{
	padding-bottom:0;
}
.sw-sec10-cntlr .pkg-area-con-bg-inner{
	padding-bottom:0;
}