.swd-sec1{
	padding-top:28px;
}
.swd-sec1-cntlr{
	text-align:center;
}
.swd-sec1 h6{
    font-family: 'latoblack';
}
.swd-sec1 p{
	font-size:26px;
    font-family: 'LatoBold';
}
/* =============================== */
.swd-sec2{
	background-color:#fcf5ee;
	text-align:center;
}
.swd-sec2-cntlr{
	padding-top:52px;
	padding-bottom: 160px;
}
.swd-sec2-cntlr h1{
    font-family: 'FiraSansExtraCondensed-Bold';
    line-height:1;
    margin-bottom:20px;
}
.swd-sec2-cntlr h6{
    font-family: 'LatoBold';
    margin-bottom: 40px;
}
.swd-sec2-cntlr h6 span{
	text-decoration:underline;
}


/* ================================= */

.swd-sec3-cntlr{
	background-color:#ffffff;
	padding-top:30px;
	margin-top:-141px;
	position: relative;
}
.swd-sec3-left,
.swd-sec3-right{
    width: 50%;
}
.swd-sec3-image{
	min-height:555px;
	background-repeat: no-repeat;
	}
.swd-sec3-left {
    position: absolute;
    right: 0;
    bottom: 28px;
}

/* ======================================*/
.swd-sec4{
	position:relative;
	padding-top: 38px;
}
.swd-sec4-image{
	min-height:786px;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}
.swd-sec4-left {
    width:100%;
}
.swd-sec4-right{
	width:76%;
	z-index: 1;
    position: relative;
}
.swd-sec4-cntlr {
    position: relative;
}

/* ================================*/
.swd-sec5-cntlr{
	background-color:#26527b;
	padding-top:25px;
	padding-bottom:13px;
	border: 5px solid #fff;
}
.swd-sec5-cntlr h4 {
    text-align: center;
    color:#fff;
}
.swd-sec5-cntlr h4 span{
	font-size:55px;
}






/*========================================*/

.swd-sec6{
	position: relative;
	padding-top:51px;
	padding-bottom: 23px;
}
.swd-sec6-image{
	bottom:initial;
	top:0;
}
.swd-sec6-right h5{
	line-height:1.33;
}

/*================================*/
.swd-sec7-image{
	right:0;
	left:initial;
	background-position: right;
	min-height:748px;
}