.header-innr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 0;
}
.hdr-left{

}
.hdr-logo{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
}
.fl-shipping{
	margin-left: -7px;
    margin-right: -7px;
}
.fl-shipping-col {
    position: relative;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}
.fl-shipping-col:after{
	position: absolute;

}
.fl-shipping-col-01{
	width: 28%;
}
.fl-shipping-col-02{
	width: 44%;
}
.fl-shipping-col-03{
	width: 28%;
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 0;
    width: 34px;
    height: 35px;
}
.fl-shipping strong{
    font-size: 18px;
    line-height: 1;
    margin-top: 17px;
    width: 100%;
    color: #26517a;
    display: inline-block;
    margin-bottom: 0;
}


.hdr-btmbar{
	background: #26517a;
}